
.abn_message_holder {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.75);
	z-index: 1000;

	.abn_message_placer {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;

		.abn_message_content {
			position: relative;
			align-self: center;
			padding: 15px;
			img {
				max-width: 100%;
				margin-bottom: 10px;
			}
		}

		.abn_message_background {
			background-color: #fff;
			border: 1px solid $gray-500;
			box-shadow: 0px 0px 10px gray;
		}
	}
}



@include media-breakpoint-down(md) {
	.abn_message_holder {
		.abn_message_placer {
			.abn_message_content {
				width: 400px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.abn_message_holder {
		.abn_message_placer {
			.abn_message_content {
				width: 300px;
			}
		}
	}
}
