
<!-- static message -->
<!-- NEW -->
<div  _elem="msg" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">
                <img _show="message.image" src="$message.image" class="" />
                $message.title
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    $message.text
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    <!-- $texts.buttons_Close -->
                    Zamknij
                </button>
            </div>
        </div>
    </div>
</div>

<!-- loading gif and message -->
<div _show="loading.show" class="abn_message_holder">    
    <div class="abn_message_placer">
        <div class="abn_message_content">
            <img class="img-responsive" src="$loading.image" class="" />
            <div class="mg-clear"></div>
            <div class="">
                <p>
                     $loading.text
                </p>
            </div>
        </div>
    </div>
</div>

<!-- NEW -->
<div _elem="confirmation" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-choice">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">$confirmation.text</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <button _elem="yes" type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">
                            <i class="fa fa-check i-left"> </i>
                            $confirmation.yes
                        </button>
                    </div>
                    <div class="col">
                        <button _elem="no" type="button" class="btn btn-primary w-100">
                            <i class="fa fa-times i-left"> </i>
                            $confirmation.no
                        </button>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>