
<!-- Static message -->
<div _elem="Message" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-choice modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <img _show="Message.Image" class="modal-image" src="$Message.Image" />
                <h5  _show="Message.Title" class="modal-title">
                    $Message.Title
                </h5>
                <button _elem="Message_Close" type="button" class="btn-close" 
                        aria-label="Close"></button>
            </div>
            <div _show="Message.Text" class="modal-body">
                <p _field="Message.Text" />
            </div>
            <div class="modal-footer">
                 <div class="row">
                    <div _show="Message.ExtraButton_Text" class="col">
                        <button _elem="Message_ExtraButton" type="button" 
                                class="btn $Message.ExtraButton_Class w-100 lh-sm">
                            $Message.ExtraButton_Text
                        </button>
                    </div>
                    <div class="col text-end">
                        <button _elem="Message_Confirm" type="button" 
                                class="btn btn-primary w-100 h-100 ">
                            $Text('Close')
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Loading -->
<div _show="Loading.Show" class="loader-holder">
    <h3></h3>
    <div class="d-flex align-items-center">
        <div class="spinner-border me-3 text-primary" role="status" aria-hidden="true"></div>
        <strong>$Loading.Text</strong>
    </div>
</div>

<!-- Dialog -->
<div _elem="Confirmation" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-choice">
        <div class="modal-content">
            <div class="modal-header">
                <img _show="Confirmation.Image" class="modal-image" 
                        src="$Confirmation.Image" />
                <h5 _show="Confirmation.Title" class="modal-title">
                    $Confirmation.Title
                </h5>
                <button _elem="Confirmation_Close" type="button" 
                        class="btn-close" aria-label="Close"></button>
            </div>
            <div _show="Confirmation.Text" class="modal-body">
                <p _field="Confirmation.Text" />
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <button _elem="Confirmation_Yes" type="button" 
                                class="btn btn-secondary w-100">
                            <i class="fa fa-check pe-2"> </i>
                            $Confirmation.Yes
                        </button>
                    </div>
                    <div class="col">
                        <button _elem="Confirmation_No" type="button" 
                                class="btn btn-primary w-100">
                            <i class="fa fa-times pe-2"> </i>
                            $Confirmation.No
                        </button>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div _elem="Notification" class="notification-holder" style="display: none;">
    <div class="notification-bg bg-light">
        <i class="fas $Notification.FaIcon"></i>&nbsp;&nbsp;$Notification.Message
    </div>
</div>