
<!-- Static message -->
<div  _elem="msg" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-image">
                <img _show="message.image" src="$message.image" />
            </div>
            <div _show="message.title" class="modal-header">
                <h5 class="modal-title">
                    $message.title
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div _show="message.text" class="modal-body">
                <p>
                    $message.text
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                    $text('Close')
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Loading -->
<div  _show="loading.show" class="loader-holder">
    <div class="d-flex align-items-center">
        <div class="spinner-border me-3 text-primary" role="status" aria-hidden="true"></div>
        <strong>$loading.text</strong>
    </div>
</div>

<!-- Dialog -->
<div _elem="confirmation" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-choice">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">$confirmation.text</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <button _elem="yes" type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">
                            <i class="fa fa-check i-left"> </i>
                            $confirmation.yes
                        </button>
                    </div>
                    <div class="col">
                        <button _elem="no" type="button" class="btn btn-primary w-100">
                            <i class="fa fa-times i-left"> </i>
                            $confirmation.no
                        </button>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>